<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>backlight-level</key>
	<data>
	//8=
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CMDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajk1ajk1YQA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AjMPAAAQ
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajk1AAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	U2ViSGFja2ludG9zaA==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzElBQUFBQUFBQkx3SUFBQUFBRnJlVGN3UkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFBa0djR2JSYk1xejc2MllGc2xsRXo4Mk5MMy1qZ1RzWmhyd0ZP
	Q2ozQ1NZaVZQUlBNdXpxRUZfOElCeVYzV0JtTUtLcmh5VnhNRUxKN3VMUzEwaFlRWGla
	bjFBM3pIMzRaSTc0alJnc2JpRjNxNXhVOVpEUDk4MlM1ZjMyT2l0VWdiS1NncXF0SXJS
	UnZCT1dIcWlGdW1TbWlsVFF+fhEB9V8QEnNlYnBhbGx1ZWxAZnJlZS5mclkxNzYyMTcy
	NjgjQda3k3hNfbtfECQyRjE2QTJCNi04QzZELTRBODctQTdDRS05QTczNDlGMkU0RTbT
	FxgZGhscXxAVSW5Vc2VPd25lckRpc3BsYXlOYW1lXxATSW5Vc2VPd25lckZpcnN0TmFt
	ZV8QEkluVXNlT3duZXJMYXN0TmFtZW8QEQBTAOkAYgBhAHMAdABpAGUAbgAgAFAAYQBs
	AGwAdQBlAGxpAFMA6QBiAGEAcwB0AGkAZQBuV1BhbGx1ZWzRDx7VHyAhIiMkJSYnKFZh
	cHNFbnZYaG9zdG5hbWVdYXV0aE1lY2hhbmlzbVZzY2hlbWVdaWRzSWRlbnRpZmllclpQ
	cm9kdWN0aW9uXxATcDI0LWZtaXAuaWNsb3VkLmNvbVV0b2tlblVodHRwc18QJDZFMDFD
	RUQ5LUZBODMtNDg0MS05MDgzLTk3NUM2MzVEOTM0MQAIACEAMwBIAFIAYQBoAHYAfwCI
	AJAAlQCeALQAtgC4ANwBqwGuAcMBzQHWAf0CBAIcAjICRwJsAn8ChwKKApUCnAKlArMC
	ugLIAtMC6QLvAvUAAAAAAAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAADHA==
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly8xRTAwNkY3Ny05MjE0LTNGMkYtQUM0Qi1GRjQ3ODA5MjMwN0Ev
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>nvda_drv</key>
	<data>
	MQ==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW4tRlI6MA==
	</data>
	<key>previous-system-uuid</key>
	<data>
	MUUwMDZGNzctOTIxNC0zRjJGLUFDNEItRkY0NzgwOTIzMDdB
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAUA//8AAAQBKgADAAAA2BKvowAAAADgJPMbAAAA
	AD7rLtjpaoNMpp1OZ6shmzoCAn//BAA=
	</data>
</dict>
</plist>